<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reserved Details</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
  body {
    background-color:whitesmoke; 
  }
  #canvas {
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    margin-top: 12px;
  }
   table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  margin-top: 12px;
}
</style>
</head>
<body>

    <h2 class="bg-primary text-white p-2 text-center">Welcome Admin</h2>

<div class="container">
  <div id="canvas">
    <h3 class="text-center mb-2 text-white bg-primary">Reserved Spot Details</h3>
    <table class="table table-striped">
      <thead class="table-primary">
        <tr>
          <th>Reservation ID</th>
          <th>Lot ID</th>
          <th>Spot ID</th>
          <th>User ID</th>
          <th>Booking Time</th>
          <th>Vehicle Number</th>
        </tr>
      </thead>

      <tbody>
         {% for reservation in reservations %}
        <tr>
          <td>{{ reservation.id }}</td>
          <td>{{ reservation.lot_id }}</td>
          <td>{{ reservation.spot_id }}</td>
          <td>{{ reservation.user_id }}</td>
          <td>{{ reservation.booking_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
          <td>{{ reservation.vehicle_num }}</td>
        </tr>
         {% endfor %}
      </tbody>
    </table>
    <div class="text-center">
      <a href="/admin" class="btn btn-success">Back to Dashboard</a>
    </div>
  </div>
</div>

</body>
</html>
